
@{
    Layout = "_Layout";
}
<section class="jumbotron text-center">
    <div class="container">
        <h1>Welcome to Bookstore</h1>
        <p class="lead text-muted">
            WCF is used for developing SOAP-based services whereas Web API is used for both SOAP-based and RESTful services. WCF does not offer any support for MVC features whereas Web API supports MVC features. WCF supports HTTP, UDP, and custom transport protocol whereas Web API supports only HTTP protocol
        </p>
        <p>
            <a href="#" class="btn btn-primary my-2">Search Books</a>
        </p>
    </div>
</section>

